adapter driver jlink
transport select jtag
adapter speed 2000

set _CHIPNAME m3_s905x3
set _CPUTAPID 0x4BA00477

jtag newtap $_CHIPNAME cpu \
    -irlen 4 \
    -ircapture 0x1 \
    -irmask 0x3 \
    -expected-id $_CPUTAPID

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu
target create $_CHIPNAME.cpu cortex_m -endian little -dap $_CHIPNAME.dap

# GDB settings
gdb memory_map disable
gdb flash_program disable

cortex_m reset_config sysresetreq

# ---------- INIT ----------
init

# ---------- STOP CORE FIRST ----------
halt

#echo ">>> Inject payload"

# ------------------------------
# TEST PAYLOAD: r0 = 0x12345678
# ------------------------------

# movw r0, #0x5678
#mww 0x10001000 0xF245
#mww 0x10001002 0x6078

# movt r0, #0x1234
#mww 0x10001004 0xF2C1
#mww 0x10001006 0x2034

# infinite loop
#mww 0x10001008 0xE7FE

#echo ">>> Jump"

#reg pc 0x10001001

#resume

#halt

#reg
